#roles>network>tasks>terminate.yml

- set_fact:
        target_vpc_id: "{{ vpc_info.vpcs[0].vpc_id }}"

    # 1. 해당 VPC에 속한 NAT Gateway 정보 조회
    - name: Get NAT Gateway info
      amazon.aws.ec2_vpc_nat_gateway_info:
        region: "{{ region }}"
        filters:
          vpc-id: "{{ target_vpc_id }}"
          state: ['available', 'pending']
      register: nat_info

    # 2. NAT Gateway 삭제 및 연결된 EIP 자동 해제 (release_eip 옵션 활용)
    - name: Remove NAT Gateway and Release EIP
      amazon.aws.ec2_vpc_nat_gateway:
        region: "{{ region }}"
        nat_gateway_id: "{{ item.nat_gateway_id }}"
        state: absent
        wait: yes           # 삭제 완료(Deleted 상태)까지 대기
        wait_timeout: 600   # 최대 10분 대기
        release_eip: yes    # [중요] 연결된 EIP를 즉시 릴리즈하여 비용 방지
      loop: "{{ nat_info.nat_gateways }}"
      when: nat_info.nat_gateways | length > 0

    # 3. 인터넷 게이트웨이(IGW) 분리 및 삭제
    - name: Get Internet Gateway info
      amazon.aws.ec2_vpc_igw_info:
        region: "{{ region }}"
        filters:
          attachment.vpc-id: "{{ target_vpc_id }}"
      register: igw_info

    - name: Detach and Remove Internet Gateway
      amazon.aws.ec2_vpc_igw:
        region: "{{ region }}"
        vpc_id: "{{ target_vpc_id }}"
        state: absent
      when: igw_info.gateways | length > 0

    # 4. 서브넷 삭제 (여러 개이므로 반복문 사용)
    - name: Get Subnet info
      amazon.aws.ec2_vpc_subnet_info:
        region: "{{ region }}"
        filters:
          vpc-id: "{{ target_vpc_id }}"
      register: subnet_info

    - name: Remove Subnets
      amazon.aws.ec2_vpc_subnet:
        region: "{{ region }}"
        vpc_id: "{{ target_vpc_id }}"
        subnet_id: "{{ item.id }}"
        state: absent
      loop: "{{ subnet_info.subnets }}"
      when: subnet_info.subnets | length > 0

    # 5. 최종 VPC 삭제
    - name: Terminate VPC
      amazon.aws.ec2_vpc_net:
        region: "{{ region }}"
        vpc_id: "{{ target_vpc_id }}"
        state: absent